.container{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    max-width: 50%;
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 12px;
}
.update-btn{
    margin: 12px;
}
.btn a{
    text-decoration: none;
    color: white;
}